/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --typography-body2: Roboto;

  /* font sizes */
  --typography-body2-size: 14px;
  --button-large-size: 15px;
  --input-helper-size: 12px;
  --input-value-size: 16px;
  --typography-h5-size: 24px;

  /* Colors */
  --primary-contrast: #fff;
  --primary-main: #2196f3;
  --text-primary: rgba(0, 0, 0, 0.87);
  --components-input-outlined-enabledborder: rgba(0, 0, 0, 0.23);
  --text-secondary: rgba(0, 0, 0, 0.6);

  /* Spacing */
  --borderradius: 4px;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-3xl: 22px;
  --padding-4xs: 9px;
  --padding-10xs: 3px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-2xs: 11px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-81xl: 100px;

  /* Effects */
  --elevation-2: 0px 1px 5px rgba(0, 0, 0, 0.12),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

 
 
