.label {
    flex: 1;
    position: relative;
    font-size: var(--input-value-size);
    letter-spacing: 0.15px;
    line-height: 24px;
    font-family: var(--typography-body2);
    color: var(--text-secondary);
    text-align: left;
  }
  .content {
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base) 0;
    box-sizing: border-box;
    min-height: 24px;
  }
  .content,
  .helperText,
  .input {
    align-self: stretch;
    display: flex;
  }
  .input {
    border-radius: var(--borderradius);
    border: 1px solid var(--components-input-outlined-enabledborder);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) 0 var(--padding-2xs);
  }
  .helperText {
    height: 20px;
    position: relative;
    font-size: var(--input-helper-size);
    letter-spacing: 0.4px;
    line-height: 166%;
    font-family: var(--typography-body2);
    color: var(--text-secondary);
    text-align: left;
    align-items: center;
  }
  .formhelpertext,
  .textfield {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .formhelpertext {
    display: none;
    padding: var(--padding-10xs) var(--padding-sm) 0;
  }
  .textfield {
    display: flex;
  }
  .label1 {
    flex: 1;
    position: relative;
    font-size: var(--input-value-size);
    letter-spacing: 0.15px;
    line-height: 24px;
    font-family: var(--typography-body2);
    color: var(--text-secondary);
    text-align: left;
  }
  .content1 {
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base) 0;
    box-sizing: border-box;
    min-height: 24px;
  }
  .content1,
  .helperText1,
  .input1 {
    align-self: stretch;
    display: flex;
  }
  .input1 {
    border-radius: var(--borderradius);
    border: 1px solid var(--components-input-outlined-enabledborder);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) 0 var(--padding-2xs);
  }
  .helperText1 {
    height: 20px;
    position: relative;
    font-size: var(--input-helper-size);
    letter-spacing: 0.4px;
    line-height: 166%;
    font-family: var(--typography-body2);
    color: var(--text-secondary);
    text-align: left;
    align-items: center;
  }
  .form,
  .formhelpertext1,
  .textfield1 {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .formhelpertext1 {
    display: none;
    padding: var(--padding-10xs) var(--padding-sm) 0;
  }
  .form,
  .textfield1 {
    display: flex;
  }
  .form {
    gap: var(--gap-base);
  }
  .hiddenIcon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .checkbox,
  .padding {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .padding {
    height: 42px;
    width: 42px;
    border-radius: var(--br-81xl);
    align-items: flex-start;
    padding: var(--padding-4xs);
    box-sizing: border-box;
  }
  .checkbox {
    overflow: hidden;
    align-items: center;
  }
  .maskedIcon {
    height: 22px;
    width: 18px;
    position: relative;
    display: none;
  }
  .button1 {
    position: relative;
    font-size: var(--button-large-size);
    letter-spacing: 0.46px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--typography-body2);
    color: var(--primary-contrast);
    text-align: left;
  }
  .maskedIcon1 {
    height: 22px;
    width: 18px;
    position: relative;
    display: none;
  }
  .base,
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .base {
    flex-direction: row;
    gap: var(--gap-5xs);
  }
  .button {
    align-self: stretch;
    border-radius: var(--borderradius);
    background-color: var(--primary-main);
    box-shadow: var(--elevation-2);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-5xs) var(--padding-3xl);
  }
  .link1 {
    position: relative;
    font-size: var(--typography-body2-size);
    letter-spacing: 0.17px;
    line-height: 143%;
    font-family: var(--typography-body2);
    color: var(--primary-main);
    text-align: left;
  }
  .underlineIcon {
    align-self: stretch;
    height: 5px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .link {
    height: 20px;
    width: 97px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .link3 {
    position: relative;
    font-size: var(--typography-body2-size);
    letter-spacing: 0.17px;
    line-height: 143%;
    font-family: var(--typography-body2);
    color: var(--primary-main);
    text-align: left;
  }
  .underlineIcon1 {
    align-self: stretch;
    height: 5px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
  }
  .link2 {
    height: 20px;
    flex: 1;
    flex-direction: column;
  }
  .actions,
  .cardContent,
  .link2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .actions {
    width: 220px;
    flex-direction: row;
    gap: var(--gap-5xs);
  }
  .cardContent {
    margin: 0;
    align-self: stretch;
}    